*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
/*style en-tete*/
header{
    display: flex;
    position: fixed;
    border-bottom:5px solid  hsl(240, 64%, 20%);
    background-color: hsl(240, 64%, 20%);
    margin-bottom: 50px;
    width: 100%;

}
/*redimensionnement du logo*/
.logo{
  width: 70%;
  display: flex;
  margin-left: 3%;
  h2{
    font-size: 40px;
    color: lightyellow;
    span{
      font-size: 80px;
      color: #006666;
    }
  }
    
}
/*style liens de la barre*/
.barnav a{
    text-decoration: none;
    color: hsl(240, 64%, 20%);
    text-transform: uppercase;
    justify-content: space-between;
    font-size: large;
}
/*style si le curseur se pose dessus*/
.barnav a:hover{
    text-decoration: underline;
    
  
}
/*style de la barre*/
.barnav{
    justify-content: space-around;
    padding-top: 13px;
    height: 50px;
    margin-right: 3%;
    width: 30%;
    display: flex;
    margin-top: 2%;
    border-radius: 100px;
    font-weight: 1000;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: white;
}
body{
    h1{
        text-align: center;
        color: white;
        font-size: 40px;
    }
}
/*première section*/
.introduce1{
    background-image: url(../imagesite/articule.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 1400px;
    filter: blur(100px);
    filter: saturate(150%);
    h1{
     padding-top: 10%;
      font-size: 80px;
      text-align: center;
      margin-left: 17%;
      width:70%;
    }
    h4{
      margin-top: 2%;
      padding-top: 2cm;
      text-align: center;
      color: white;
      font-size: 40px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      margin-left: 13%;
      width: 75%;
      height: 40%;
      background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7));

    }
}
.types{
   font-family: 'Segoe UI', sans-serif;
      padding: 30px;
      text-align: center;
}
/*debut style bas de page*/
.basdepage{
  background-color:  hsl(240, 64%, 20%);
  padding-left: 15%;
  height: 400px;
  margin-top: 10%;
  
}
.foot1{
  display: flex;
  padding-top: 5%;
  padding-left:20px ;
  height: 300px;
  hr{
    margin-left: 30%;
  }
}
.text{
  width: 80%;
  color: white;
  padding-right: 10%;
  font-size: 50px;
  span{
    font-size: 100px;
    color: #006666;
  }
}
.bp{
  display: flex;
}
.foot2{
  color: white;
  margin-left: 5%;
  display: flex;
  padding-top: 5%;
  height: 300px;
  hr{
    margin-left: 80%;
  }
}
.get{
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.getsortes{
  padding-left: 30%;
}
.dernierbp{
  color: white;
  padding-top: 5%;
  padding-left: 10%;
}
.res{
  font-size: x-large;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tel{
  display: flex;
  padding-left: 20%;
  p{
    padding-top: 10%;
    font-weight: bold;
  }
}
.email{
  display: flex;
  padding-left: 20%;
  p{
    padding-top: 10%;
    font-weight: bold;
  }
}
.insta{
  display: flex;
  padding-left: 20%;
  p{
    padding-top: 10%;
    font-weight: bold;
  }
}
.end{
  position: absolute;
  display: inline;
  color: white;
  margin-top: 3%;
  font-size: 25px;
  font-weight: bold;
  font-family: 'Times New Roman', Times, serif;
  margin-left: 20%;
  text-align: center;
  border-bottom: 20px solid hsl(240, 64%, 20%);
}